@use 'variables';
@use 'animations/animation-jauges';

.about {
    &__title {
        margin-top : 9.813rem;
        font-weight: normal;
    }

    &-section__presentation {
        margin : 4.25rem 14.688rem 3rem 7.813rem;

        &__text {
            margin-bottom : 2.125rem;
        }

        &__contact-text {
            &__link{
                font-weight : bold;
            }
        }
    }

    &-section__competences {
        &__title {
            margin-left : 10.5rem;
            font-weight: normal;
            font-size : 4rem;
        }

        &__skills {
            display : flex;
            justify-content: space-between;
            margin-top : 2.688rem;
            margin-bottom: 8rem;
            width : 100%;
        }

        &__division {
            width : 30%;

            &__title {
                margin-bottom : 1.375rem;
                font-size : 3rem;
                font-weight: normal;
            }

            &__lists {
                display : flex;
                gap : 3.563rem;
                align-items: center;

                 &__jauge-list {
                    display: flex;
                    flex-direction: column;
                    gap : 0.95rem;

                    &--bg {
                        background-color: variables.$main-color;
                        width : 6.5rem;
                        height : 0.5rem;
                        border-radius: 3.125rem;
                        margin-left : 1.25;
                        padding : 0.125rem;
                    }
                }
            }
        }
    }
}