.about-page {
    margin-top : 50px;

    &__section-who {
        position : relative;
        margin-bottom : 50px;

        &--text {
            margin : 10px 0 0 30px;
            width : 60%;
        }

        &--link {
            position : absolute;
            background-color : #EAE7ED;
            border-radius : 50px;
            padding : 10px 40px;
            text-align : center;
            right : 15%;
            top : 20%;
            font-size : 1.5em;

            &:hover {
                text-decoration: none;
            }
        }
    }


    &__section-how {
        margin-bottom : 50px;

        &--text {
            margin : 10px 0 0 30px;
            width : 80%
        }
    }


    &__section-skills {
        display : flex;
        align-items: center;
        justify-content : space-around;
        margin-bottom : 50px;

        &__soft-skills , &__hard-skills {
            width : 45%;
            text-align : center;

            &--subtitle {
                margin-bottom : 15px;
            }

            &__list {
                display : flex;
                flex-wrap: wrap;
                justify-content: center;
                gap : 10px;

                &--item {
                    background-color: #EAE7ED;
                    border-radius : 50px;
                    padding : 5px 15px;
                    margin : 0;
                }
            }
        }
    }


    &__section-links {
        &--subtitle {
            margin-bottom : 15px;
            text-align: center;
        }

        &__list {
            display : flex;
            justify-content: space-between;

            &--link {
                background-color : #EAE7ED;
                border-radius : 50px;
                width : 30%;
                padding : 10px 0;
                text-align : center;
                font-size : 1.5em;

                &:hover {
                    text-decoration : none;
                }
            }
        }
    }
}

@media (max-width : 992px) {
    .about-page {
         &__section-who {
            &--link {
                top : 50%;
                padding : 10px 20px;
                font-size : 1em;
            }
        }

        &__section-skills {
            align-items: start;
        }

        &__section-links {
            &__list {
                &--link {
                    font-size : 1em;
                }
            }
        }
    }
}

@media (max-width : 768px) {
    .about-page {
        margin-top : 10px;

         &__section-who {
            margin-bottom : 20px;

            &--text {
                width : 90%;
            }

            &--link {
                display : block;
                padding : 10px;
                font-size : 1em;
                position : initial;
                margin-top : 10px;
            }
        }

        &__section-links {
            &__list {
                &--link {
                    font-size : 1em;
                }
            }
        }
    }
}

@media (max-width : 600px) {
    .about-page {
        margin-top : 10px;

         &__section-who {
            margin-bottom : 20px;

            &--text {
                width : 90%;
            }

            &--link {
                display : block;
                padding : 10px;
                font-size : 1em;
                position : initial;
                margin-top : 10px;
            }
        }

        &__section-skills {
            flex-direction: column;

            &__soft-skills , &__hard-skills {
                width : 100%;
            }
        }

        &__section-links {
            &__list {
                flex-direction: column;
                gap : 10px;

                &--link {
                    font-size : 1em;
                    width : 100%;

                    &:hover {
                        text-decoration : none;
                        font-weight : bold;
                    }
                }
            }
        }
    }
}