@use 'variables';

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition : opacity 0.6s ease, transform 0.6s ease;

    &.visible {
        opacity : 1;
        transform: translateY(0)
    }
}

.inner-section {
    margin : 0 auto;
    max-width : 1200px;
}

// Hero

.hero {
    display : grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    padding-top : 80px;
}

//A propos

.presentation {
    display : grid;
    grid-template-columns : 1fr 2fr;
    gap : 6rem;
    margin : 0 auto;
    max-width : 1200px;
    padding : 8rem 4rem;
}

// Compétences

#skills {
    background-color : variables.$blanc;
    padding : 6rem 4rem;
}


.skills_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 12px;
}


// Section projets

#projects {
    padding : 8rem 4rem;
    max-width : 1200px;
    margin : 0 auto
}

.projet_cards {
    display : flex;
    flex-direction: column;
    gap : 1px;
}

// section expériences

#experience {
    background-color : variables.$blanc;
    padding : 6rem 4rem;
}



// section contact

#contact {
    background-color: variables.$violet;
    color : variables.$blanc;
    position : relative;
    padding : 8rem 4rem;
    text-align : center;
    overflow: hidden;
}


// RESPONSIVE

@media (max-width : 768px) {
    .hero {
        grid-template-columns : 1fr;
        gap : 2rem;
        min-height : auto;
    }

    .presentation {
        grid-template-columns : 1fr;
        gap : 2rem;
        padding : 4rem 2rem;
    }

    #skills {
        padding : 4rem 2rem;

        & .skills_cards {
            grid-template-columns : repeat(2, 1fr);
        }
    }

    .inner-section {
        max-width : 100%;
    }

}