.page-accueil {
    display : flex;
    height : 100%;
    justify-content: space-between;
    align-items: center;

    &__presentation {
        width : 60%;

        &--title {
            margin-bottom : 50px;
        }

        &--description {
            padding-right : 20%
        }
    }

    &__nav {
        display : flex;
        flex-direction: column;
        width : 40%;

        &--link {
            font-size : 6em;
            font-family : 'Bodoni Moda', serif;
            margin-bottom : 3rem;

            &:hover {
                text-decoration : none;
                font-style: italic;
            }
        }
    }
}

@media (max-width : 992px) {
    .page-accueil {
        margin-right : 0;

        &__presentation {
            width : 100%;
            margin-bottom : 2rem;

            &--title {
                margin-bottom : 20px;
            }
        }

        &__nav {
            width : 100%;

            &--link {
                margin-bottom : 1.25rem;
                font-size : 5em;
            }
        }
    }
}

@media (max-width : 768px) {
    .page-accueil {
        margin-right : 30px;

        &__nav {
            align-items: end;
        }
    }
}

@media (max-width : 600px ) {
    .page-accueil {
        display : block;

        &__presentation {
            margin-bottom : 2rem;
        }

        &__nav {
            align-items: start;
            
            &--link {
                font-size : 4em;
            }
        }
    }
}