.page-accueil {
    display : flex;
    height : 100vh;
    justify-content: space-between;
    align-items: center;

    &__presentation {
        width : 60%;

        &--title {
            margin-bottom : 50px;
        }

        &--description {
            padding-right : 20%
        }
    }

    &__nav {
        display : flex;
        flex-direction: column;
        width : 40%;

        &--link {
            font-size : 6em;
            font-family : 'Bodoni Moda', serif;
            margin-bottom : 3rem;

            &:hover {
                text-decoration : none;
                font-style: italic;
            }
        }
    }
}