.caroussel {
  position: relative;
  width: 100%;
  height: 500px; // adapte
  overflow: hidden;

  &__image {
    position: absolute;
    background-color: #EAE7ED;
    border-radius : 20px;
    height : 80vh;
    width : 80%;
    object-fit : cover;
    inset: 0;
    object-position: center;
    opacity: 0;
    transform: scale(1.02);
    transition: opacity 500ms ease, transform 600ms cubic-bezier(.2,.8,.2,1);
    will-change: opacity, transform;
    pointer-events: none;
  }

  &__image.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    border-radius : 20px;
  }
}