.contact-page {

    &__description {
        margin-top : 50px;
    }

    &__links {
        margin-top : 50px;
        display : flex;
        justify-content: space-around;
        align-items: center;

        &--link {
            height : 121px;
            width : 121px;
            padding : 5px;
            border-radius : 20px;
            background-color : #EAE7ED;
        }

        &--image {
            height : 121px;
            width : 121px;
        }
    }
}

@media (max-width : 992px) {
    .contact-page {

        &__links {
            &--link {
                height : 90px;
                width : 90px;
                border-radius : 15px;
            }

            &--image {
                height : 90px;
                width : 90px;
            }
        }
    }
}


@media (max-width : 768px) {
    .contact-page {

        &__description {
            margin-top : 30px;
        }

        &__links {
            margin-top : 30px;

            &--link {
                height : 70px;
                width : 70px;
                border-radius : 15px;
            }

            &--image {
                height : 70px;
                width : 70px;
            }
        }
    }
}

@media (max-width : 600px) {
    .contact-page {
        &__links {
            &--link {
                height : 50px;
                width : 50px;
                border-radius : 10px;
            }

            &--image {
                height : 50px;
                width : 50px;
            }
        }
    }
}