.error-page {
    height : 100vh;
    margin-top : 200px;
    text-align : center;

    &__title {
        font-size : 8em;
        margin-bottom : 4rem;
    }

    &__text {
        margin-bottom : 3rem;
        font-size : 1.5em;
    }

    &__link {
        font-size : 1em;
    }
}