@use 'variables';

.footer {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: center;
    padding : 2rem 4rem;
    background-color : variables.$noir;
    color : variables.$gris;

    &__link {
        color : variables.$gris;
        text-decoration: none;
        font-family : variables.$serif;
        font-size : 18px;
        font-weight : 500;
        letter-spacing: -0.02em;
    }

    &__text {
        font-size : 12px;
        font-weight : 300;
        letter-spacing : 0.04em;
    }
}