@use 'variables';

.footer {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: center;
    padding : 2rem 4rem;
    background-color : variables.$noir;

    &__link {
        color : rgba(255, 255, 255, 0.4);
        text-decoration: none;
        font-family : variables.$serif;
        font-size : 18px;
        letter-spacing: -0.02em;
    }

    &__text {
        font-size : 12px;
        letter-spacing : 0.04em;
        color : rgba(255, 255, 255, 0.25);
    }
}