@use 'variables';

.header {
    // display : flex;
    width : 100%;
    padding : 1.25rem 9.375rem;
    border-bottom : 1px solid variables.$main-color;

    &__nav {
        display : flex;
        gap : 1.875rem;

        &--link {
            font-size : 1.25rem;

            &-active {
                font-weight: bold;
                font-style: italic;
                font-size : 1.25rem;
            }
        }
    }
}

@media (max-width : 600px) {
    .header {
        flex-wrap: wrap;
        margin : 0;

        &__nav {
            margin : 20px 10px;;
        }
    }
}