.header {
    display : flex;
    width : 1000%;
    margin : 30px 0;

    &__page-title {
        margin-right : 50px;
    }

    &__nav {
        width : 60%;
        display : flex;

        &--link {
            margin-right : 30px;
        }
    }
}