.header {
    display : flex;
    width : 100%;
    margin : 30px 0;

    &__page-title {
        margin-right : 50px;
    }

    &__nav {
        width : 60%;
        display : flex;

        &--link {
            margin-right : 30px;
        }
    }
}

@media (max-width : 600px) {
    .header {
        flex-wrap: wrap;
        margin : 0;

        &__nav {
            margin : 20px 10px;;
        }
    }
}