@use 'variables';

html {
  margin : 0 auto;
  box-sizing: border-box;
  background: variables.$bg-color;
  color : variables.$noir;
  font-family : variables.$sans;
}

h1 , h1, h3, h4, h5, h6 {
  font-family : variables.$serif;
  color : variables.$violet;
}

a {
  text-decoration : none;
  color : variables.$noir;
}