@use 'variables';

body {
  margin : 0;
  box-sizing: border-box;
  background: variables.$bg-color;
  color : variables.$noir;
  font-family : variables.$sans;
  font-size : 15px;
}

h1 , h1, h3, h4, h5, h6 {
  font-family : variables.$serif;
  color : variables.$violet;
}

a{
  text-decoration: none;
}

p {
  font-family: variables.$sans;
}