.works-page__process__step-section {
    margin-top : 30px;

    &--title {
        margin-left : 30px;
    }

    &__container {
        height : 110vh;
        display : flex;
        margin-top : 30px;

        &--image {
            background-color : #EAE7ED;
            border-radius: 20px;
            height : 100%;
            width : 70%;
        }

        &--text {
            margin-left : 40px;
        }
    }
}