.works-page__process__step-section {
    &--title {
        margin-left : 30px;
    }

    &__container {
        display : flex;
        margin-top : 20px;

        &__images {
            position : relative;
            width : 100%;

            &--gradient {
                position : absolute;
                top : 0;
                left : 0;
                background: linear-gradient(to left, #B4A7BD , transparent 35%);
                border-radius : 20px;
                height : 80vh;
                width : 80%
            }

            &--image {
                background-color: #EAE7ED;
                border-radius : 20px;
                height : 80vh;
                width : 80%;
                object-fit : cover;
            }
        }

        &__description {
            position : absolute;
            right : 30%;
        }
    }
}