.works-page__process__step-section {
    &--title {
        margin-left : 30px;
    }

    &__container {
        display : flex;
        margin-top : 20px;
        position : relative;

        &__images {
            position : relative;
            width : 100%;

            &--gradient {
                position : absolute;
                inset : 0;
                pointer-events : none;
                z-index : 10;
                background: linear-gradient(to left, #B4A7BD 25%, transparent);
                border-radius : 20px;
                height : 90vh;
                width : 90%
            }
        }

        &__description {
            position : absolute;
            right : 0;
            width : 30%;
            top : 5%;
            z-index : 9999;
        }
    }
}