.works-page__process__step-section {
    margin-top : 30px;

    &--title {
        margin-left : 30px;
    }

    &__container {
        display : flex;
        margin-top : 20px;
        position : relative;

        &__images {
            position : relative;
            width : 100%;

            &--gradient {
                position : absolute;
                inset : 0;
                pointer-events : none;
                z-index : 10;
                background: linear-gradient(to left, #B4A7BD 25%, transparent 55%);
                border-radius : 20px;
            }
        }

        &__description {
            position : absolute;
            right : 0;
            width : 30%;
            top : 5%;
            z-index : 9999;
        }
    }
}

@media (max-width : 768px) {
    .works-page__process__step-section {
        margin-top : 15px;

        &__container {
            margin-top : 10px;
            flex-direction: column;

            &__images {
                position : relative;
                width : 100%;
                height : 300px;

                &--gradient {
                    display : none;
                }
            }

            &__description {
                position : relative;
                width : 100%;
            }
        }
    }
}