.works-page__card {
    margin: 0;
    border-radius : 10px;
    height : 100%;
    position : relative;
    display : flex;
    flex-direction: column;
    text-align: end;

    &--title {
        font-style: normal;

        &:hover {
            font-style : italic;
        }
    }

    &--seperateur {
        height : 20px;
        display : flex;
        justify-content: end;
        width : 50%;
        background-color: black;
        border-radius: 50px;
        margin-top : 20px;
        margin-left : auto;
    }

}