.works-page {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px;
    gap : 10px 20px;

    &__card-1 {
        grid-column : 1 / span 5;
        grid-row :  1 / span 5;
    }

    &__card-2 {
        grid-column : 6 / span 6;
        grid-row :  1 / span 3;
    }

    &__card-3 {
        grid-column : 7 / span 4;
        grid-row :  4 / span 3;
    }

    &__card-4 {
        grid-column : 2 / span 5;
        grid-row : 7 / span 3;
    }

        &__card-5 {
        grid-column : 8 / span 4;
        grid-row : 8 / span 7;
    }

    &__card-6 {
        grid-column : 1/ span 7;
        grid-row : 10 / span 3;
    }

    &__card-7 {
        grid-column : 1 / span  5;
        grid-row : 14 / span 5;
    }

    &__card-8 {
        grid-column : 6 / span 5;
        grid-row : 16 / span 4;
    }
}