.worksDetails-page {
    &__description {
        display : flex;
        margin : 50px 0;

        &--image {
            background-color: #EAE7ED;
            height : 300px;
            width : 40%;
            border-radius : 20px;
            object-fit: cover;
        }

        &__presentation {
            width : 60%;
            margin-left : 30px;

            &__header {
                display : flex;
                align-items: center;

                &__link--background {
                    background-color: #EAE7ED;
                    border-radius : 50px;
                    padding : 5px;
                    height : 30px;
                    width : 30px;
                    margin-left : 30px;
                }

                &__link--image {
                    height : 30px;
                    width : 30px;
                }

            }

            &__text {
                margin-top : 30px;

                &--text {
                    margin: 0;
                }
            }
        }
    }

    &__process {
        margin-bottom : 50px;

        &--image {
            background-color: #EAE7ED;
            height : 700px;
            width : 100%;
            border-radius : 20px;
        }
    }

    &__skills {

        &--title {
            text-align : center;
        }

        &__list {
            display : flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding : 0 50px;

            &--item {
                padding : 5px 30px;
                margin : 10px 20px;
                background-color: #EAE7ED;
                border-radius : 30px;
                text-align : center;
            }
        }
    }

    &__subtitles {
        margin-bottom : 20px;
    }
}

@media (max-width : 768px) {
    .worksDetails-page {
        margin : 0;

        &__description {
            flex-direction: column-reverse;
            margin : 10px 0;
            
            &--image {
                height : 250px;
                width : 100%;
            }

            &__presentation {
                width : 100%;
                margin : 0;

                &__header {

                    &__link--background {
                        height : 25px;
                        width : 25px;
                        margin-left : 15px;
                    }

                    &__link--image {
                        height : 25px;
                        width : 25px;
                    }
                }

                &__text {
                    margin: 10px 0;
                }
            }
        }

        &__process {
            margin-bottom : 25px;

            &--image {
                height : 300px;
            }
        }

        &__skills {

            &__list {
                padding : 0;

                &--item {
                    margin : 5px 10px;
                }
            }
        }

        &__subtitles {
            margin-top : 20px;
        }

    }
}

@media (max-width : 600px) {
    .worksDetails-page {
        &__description {
            &--image {
                height : 150px;
            }

            &__presentation {
                width : 100%;
                margin : 0;

                &__header {

                    &__link--background {
                        height : 20px;
                        width : 20px;
                    }

                    &__link--image {
                        height : 20px;
                        width : 20px;
                    }
                }
            }
        }

        &__process {
            margin-bottom : 25px;

            &--image {
                height : 300px;
            }
        }

        &__skills {
            &__list {
                &--item {
                    padding : 5px 20px;
                }
            }
        }

        &__subtitles {
            margin-bottom : 10px;
        }

    }
}