.worksDetails-page {

    &__description {
        display : flex;
        justify-content: space-between;
        margin-bottom : 50px;

        &--image {
            background-color: #EAE7ED;
            height : 300px;
            width : 45%;
            border-radius : 20px;
            object-fit: cover;
        }

        &__texts {
            width : 50%;
        }
    }

    &__process {
        margin-bottom : 50px;

        &--image {
            background-color: #EAE7ED;
            height : 700px;
            width : 100%;
            border-radius : 20px;
        }
    }

    &__skills {

        &--title {
            text-align : center;
        }

        &__list {
            display : flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding : 0 50px;

            &--item {
                padding : 5px 30px;
                margin : 10px 20px;
                background-color: #EAE7ED;
                border-radius : 30px;
                text-align : center;
            }
        }
    }

    &__subtitles {
        margin-bottom : 20px;
    }
}