.worksDetails-page {
    &__description {
        display : flex;
        margin : 50px 0;

        &--image {
            background-color: #EAE7ED;
            height : 300px;
            width : 45%;
            border-radius : 20px;
            margin-right : 40px;
        }

        &__presentation {
            &__header {
                display : flex;
                align-items: center;

                &__link--background {
                    background-color: #EAE7ED;
                    border-radius : 50px;
                    padding : 5px;
                    height : 30px;
                    width : 30px;
                    margin-left : 30px;
                }

                &__link--image {
                    height : 30px;
                    width : 30px;
                }

            }

            &__text {
                margin-top : 30px;

                &--text {
                    margin: 0;
                }
            }
        }
    }

    &__process {
        margin-bottom : 50px;

        &--image {
            background-color: #EAE7ED;
            height : 700px;
            width : 100%;
            border-radius : 20px;
        }
    }

    &__skills {

        &--title {
            text-align : center;
        }

        &__list {
            display : flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding : 0 50px;

            &--item {
                padding : 5px 30px;
                margin : 10px 20px;
                background-color: #EAE7ED;
                border-radius : 30px;
                text-align : center;
            }
        }
    }

    &__subtitles {
        margin-bottom : 20px;
    }
}